{% extends 'base.html' %}

{% block content %}
    <div class="score-main">
            <div class="highest-score">
                <div>Nilai tertinggi: {{ topUser.marks }} oleh </div> <div class="high-score-name">{{ topUser.username }}</div>
            </div>
            <h1 class="score-head">Your Score</h1>
            <div class="score-circle">
                <h1>{{ g.user.marks }}</h1>
            </div>
            <h1 class="congrats-cls">Semangat mengerjakan soal! <i class="fas fa-glass-cheers"></i></h1>
            <div class="redirect-links">
                <a href="{{ url_for('home') }}"><i class='fas fa-angle-left'></i> Beranda</a>
                <a href="{{ url_for('question', id=1)}}" class="btn btn-primary" >Mulai kuis</a>
            </div>
    </div>
    <!-- <p>Your Final Score is {{ g.user.marks }}. Congratulations <3</p> -->
{% endblock %}